<div class="user-page">
  <!-- Left Panel: Static -->
  <div class="left-panel">
    <div class="search-bar-container">
        <app-search-bar (searchResult)="updateSearchResults($event)"></app-search-bar>
    </div>

    <div class="channels-container">
        <div class="group-channels">
            
        </div>
        
        <div class="direct-channels">
            
        </div>
    </div>
</div>

  <!-- Middle Panel: Dynamic Content (Friends / Messages) -->
  <div class="middle-panel">
      <!-- Placeholder for Friends List or Messages -->
  </div>

  <!-- Right Panel: Static Info -->
  <div class="right-panel">
      <!-- Placeholder for User/Channel Info -->
  </div>
</div>