<div class="user-page">

  <div class="left-panel">
    <div class="search-bar-container">
        <app-search-bar (searchResult)="updateSearchResults($event)"></app-search-bar>
    </div>

    <div class="channels-container">
        <div class="group-channels">
            <app-group-channels (channelSelected)="selectChannel($event)"></app-group-channels>
        </div>
        
        <div class="direct-channels">
            <app-group-channels></app-group-channels>
        </div>
    </div>
</div>

  <div class="middle-panel">
    <!-- <app-friends-list *ngIf="!selectedChannel"></app-friends-list> -->
    <app-message *ngIf="selectedChannel" 
                 [channel]="selectedChannel"
                 (closeChat)="clearSelectedChannel()">
    </app-message>
  </div>

  <div class="right-panel">
    
  </div>
</div>