<div class="home-page">
    <section class="site-section site-post">
        <div class="container image-container">
            <img id="logo-img" src="images/hop-talk-logo.png" alt="">
        </div>
        <h3>Hopping through chats, building connections that last!</h3>
        <div class="container buttton-container">
            <button class="buttons" id="login-btn" (click)="goToLogin()">Login</button>
            <button class="buttons" id="register-btn" (click)="goToRegister()">Register</button>
        </div>
    </section>
</div>